h2{
    font-size: xx-large;
}


body{
    background-color: lightgreen;
}

.inspringen1{
    text-align: center;
}
.inspringen2{
    text-align: center;
}
.quote{
    font-size: 1cm;
    text-align: center;
}

.Hyperlinks{
    margin-left: 18.5cm;
    font-size: 0.5cm;
}